{% extends 'app/layout.html' %}
{% block content %}
<h2>{{ title }}Predicción por "Random Forest Regressor"</h2>
<h3>{{ message }}Cantidad de Reportes Predichos por semana</h3>

<div class="datagrid">
<table >
<thead>
    <tr>
        <th>Semana</th>
        <th>Fusibles</th>
        <th>Fuente</th>
        <th>Gen y Osc</th>
        <th>Multimetros</th>
        <th>Sondas</th>
        <th>Otros</th>
        <th>Nrep</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Semana-2</td>
        <td>{{sm2}}</td>
        <td>{{ sm2f}}</td>
        <td>{{ sm2g}}</td>
        <td>{{sm2m}}</td>
        <td>{{ sm2s}}</td>
        <td>{{sm2o}}</td>
        <td>{{sm2n}}</td>
    </tr>
<tr class="alt">
        <td>Semana-1</td>
        <td>{{sm1}}</td>
        <td>{{ sm2f}}</td>
        <td>{{ sm2g}}</td>
        <td>{{sm1m}}</td>
        <td>{{ sm1s}}</td>
        <td>{{sm1o}}</td>
        <td>{{sm1n}}</td>
</tr>
<tr>
        <td>Semana+1</td>
        <td>{{average_11u}}</td>
        <td>{{average_11f}}</td>
        <td>{{average_11g}}</td>
        <td>{{average_11}}</td>
        <td>{{average_11s}}</td>
        <td>{{average_11o}}</td>
        <td>{{average1}}</td>
</tr>
<tr class="alt">
        <td>Semana+2</td>
        <td>{{ average_12u}}</td>
        <td>{{ average_12f}}</td>
        <td>{{ average_12g}}</td>
        <td>{{ average_12}}</td>
        <td>{{ average_12s}}</td>
        <td>{{  average_12o}}</td>
        <td>{{ average2}}</td>
</tr>
<tr>
        <td>Semana+3</td>
        <td>{{ average_13u}}</td>
        <td>{{ average_13f}}</td>
        <td>{{ average_13g}}</td>
        <td>{{ average_13}}</td>
        <td>{{ average_13s}}</td>
        <td>{{ average_13o}}</td>
        <td>{{ average3}}</td>
</tr>
<tr class="alt">
        <td>Semana+4</td>
        <td>{{ average_14u}}</td>
        <td>{{ average_14f}}</td>
        <td>{{ average_14g}}</td>
        <td>{{ average_14}}</td>
        <td>{{ average_14s}}</td>
        <td>{{  average_14o}}</td>
        <td>{{ average4}}</td>
</tr>
</tbody>
</table>
</div>
<h3>{{ message }}</h3>
<h3>{{ message }}</h3>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Semana',  'Fusibles', 'Fuente','Gen y Osc','Multimetro','Sondas','Otros','NumRep'],
          ['Semana-2',  {{sm2}}, {{ sm2f}},{{ sm2g}}, {{ sm2m}}, {{ sm2s}}, {{ sm2o}},{{ sm2n}}],
          ['Semana-1',  {{sm1}}, {{ sm1f}}, {{ sm2g}}, {{ sm1m}}, {{ sm1s}}, {{ sm1o}}, {{ sm1n}}],
          ['Semana+1', {{ average_11u}}, {{ average_11f}}, {{ average_11g}},{{ average_11}}, {{ average_11s}}, {{ average_11o}}, {{ average1}}],
          ['Semana+2', {{ average_12u}},{{ average_12f}}, {{ average_12g}},{{ average_12}}, {{ average_12s}}, {{ average_12o}}, {{ average2}}],
          ['Semana+3', {{ average_13u}}, {{ average_13f}}, {{ average_13g}}, {{ average_13}}, {{ average_13s}}, {{ average_13o}}, {{ average3}}],
          ['Semana+4', {{ average_14u}}, {{ average_14f}}, {{ average_14g}}, {{ average_14}}, {{ average_14s}}, {{ average_14o}}, {{ average4}}]
        ]);

        var options = {
          chart: {
            title: 'Prediccion Por Random Forest Regressor',
            subtitle: '',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="barchart_material" style="width: 900px; height: 700px;"></div>
  </body>
</html>
<a class="btn btn-default" href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html">Leer mas &raquo;</a></p>



{% endblock %}