{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}Equipos a tener en cuenta por mayor uso</h2>
    <meta charset=”utf8″ />
<h3>{{ message }}</h3>
<div class="datagrid">
<table >
<thead>
    <tr>
    <th>Año</th>
    <th>Mes</th>
    <th>Cantidad de Uso</th>
    <th> Nombre de Equipo</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{aver}}</td>
        <td>{{Nmes}}</td>
        <td>{{Uss}}</td>
        <td>{{Eqn}}</td>
    </tr>
    <tr class="alt">
        <td>{{aver1}}</td>
        <td>{{Nmes1}}</td>
        <td>{{Uss1}}</td>
        <td>{{Eqn1}}</td>  
    </tr>
    <tr>       
        <td>{{aver2}}</td>
        <td>{{Nmes2}}</td>
        <td>{{Uss2}}</td>
        <td>{{Eqn2}}</td>        
    </tr>
    <tr class="alt">        
        <td>{{aver3}}</td>
        <td>{{Nmes3}}</td>
        <td>{{Uss3}}</td>
        <td>{{Eqn3}}</td>        
    </tr>
    <tr>       
        <td>{{aver4}}</td>
        <td>{{Nmes4}}</td>
        <td>{{Uss4}}</td>
        <td>{{Eqn4}}</td>        
    </tr>
    <tr class="alt">        
        <td>{{aver5}}</td>
        <td>{{Nmes5}}</td>
        <td>{{Uss5}}</td>
        <td>{{Eqn5}}</td>        
    </tr>
    <tr>       
        <td>{{aver6}}</td>
        <td>{{Nmes6}}</td>
        <td>{{Uss6}}</td>
        <td>{{Eqn6}}</td>        
    </tr>
    <tr class="alt">        
        <td>{{aver7}}</td>
        <td>{{Nmes7}}</td>
        <td>{{Uss7}}</td>
        <td>{{Eqn7}}</td>        
    </tr>
    <tr>       
        <td>{{aver8}}</td>
        <td>{{Nmes8}}</td>
        <td>{{Uss8}}</td>
        <td>{{Eqn8}}</td>        
    </tr>
    <tr class="alt">        
        <td>{{aver9}}</td>
        <td>{{Nmes9}}</td>
        <td>{{Uss9}}</td>
        <td>{{Eqn9}}</td>        
    </tr>
   </tbody>
</table>
</div>


 {% endblock %}